@font-face {
    font-family: customFonts;
    src: url(./fonts/Kingthings_Calligraphica_2.ttf)
}

h1 {
    color: teal;
    background-color:coral;
    font-size: 40px;
    text-align: center;
    /* font-family:'Times New Roman', Times, serif; */
    font-family: customFonts;
    font-weight: bold;
}

img {
    height: 500px;
    width: auto;
}

.pages {
    color: peru;
    background-color:violet;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    text-align: center;
}

.middle-page {
    background-color: cornflowerblue;
    color: brown;
}

* {
    background-color: darkgrey;
}